openapi: 3.0.3
info:
  title: REST API for social networks VK
  version: 1.0.0
servers:
  - url: https://vk.com/api/v1
paths:
  /friends:
    get:
      tags:
        - Friends
      summary: View current user's friends
      responses:
        '200':
          description: Friend list
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - friends
    post:
      tags:
        - Friends
      summary: Adding a user as a friend
      requestBody:
        $ref: '#/components/requestBodies/userId'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - friends
  /friends/{userId}:
    get:
      tags:
        - Friends
      summary: View friends of other users
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Friend list
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - friends
    delete:
      tags:
        - Friends
      summary: Removing a user from friends
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
  /profile:
    get:
      tags:
        - Profile
      summary: Viewing the profile of the current user
      responses:
        '200':
          description: Viewing the profile of the current user
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - profiles
  /profile/{userId}:
    get:
      tags:
        - Profile
      summary: View profile of other users
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - profiles
  /posts:
    get:
      tags:
        - Posts
      summary: View the feed of the current user's posts
      responses:
        '200':
          description: List of posts
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - posts
    post:
      tags:
        - Posts
      summary: Publishing a post to the current user's feed
      responses:
        '200':
          description: Post
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - posts
  /posts/{userId}:
    get:
      tags:
        - Posts
      summary: View the feed of other users' posts
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: User Post
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - posts
    post:
      tags:
        - Posts
      summary: Publishing a post to the feed of other users
      parameters:
        - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: User Post
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - posts
  /posts/{postId}/attachments:
    post:
      tags:
        - Posts
      summary: Uploading media files for posts
      parameters:
        - $ref: '#/components/parameters/postId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                audios:
                  type: array
                  items:
                    type: string
                    format: binary
                videos:
                  type: array
                  items:
                    type: string
                    format: binary
                documents:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/400ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - posts
  /conversations:
    get:
      tags:
        - Conversations
      summary: View user dialogs and chats
      responses:
        '200':
          description: List of user dialogs and chats
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - conversations
  /conversations/{conversationId}:
    get:
      tags:
        - Conversations
      summary: Reading messages in dialogs and chats
      parameters:
        - $ref: '#/components/parameters/conversationId'
      responses:
        '200':
          description: List of messages in dialogs and chats
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - conversations
    post:
      tags:
        - Conversations
      summary: Sending messages in dialogs and chats
      parameters:
        - $ref: '#/components/parameters/conversationId'
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    example: ok
                  data:
                    $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/401UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '500':
          $ref: '#/components/responses/500ServerErrorResponse'
      security:
        - oAuthSample:
            - conversations

components:
  schemas:
    User:
      properties:
        id:
          type: integer
          minimum: 1
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        birthdate:
          type: string
          example: 1990-01-01
        sex:
          type: string
          description: (male, female)
          example: male
          enum: [male, female]
        city:
          type: integer
          example: 1
        registrationTime:
          type: string
          description: (ISO8601)
          example: 2005-08-15T15:52:01+0000
    Post:
      properties:
        id:
          type: integer
          minimum: 1
        text:
          type: string
          example: lorem ipsum...
        attachments:
          properties:
            images:
              type: array
              items:
                $ref: '#/components/schemas/AttachmentImage'
            audios:
              type: array
              items:
                $ref: '#/components/schemas/AttachmentAudio'
            videos:
              type: array
              items:
                $ref: '#/components/schemas/AttachmentVideo'
            documents:
              type: array
              items:
                $ref: '#/components/schemas/AttachmentDocument'
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
        updatedAt:
          $ref: '#/components/schemas/UpdatedAt'
    Conversation:
      properties:
        id:
          type: integer
          minimum: 1
        lastMessage:
          $ref: '#/components/schemas/Message'
        participants:
          type: array
          items:
            type: object
            properties:
              userId:
                type: integer
                minimum: 1
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
        updatedAt:
          $ref: '#/components/schemas/UpdatedAt'
    Message:
      properties:
        id:
          type: integer
          minimum: 1
        text:
          type: string
          example: lorem ipsum...
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
        updatedAt:
          $ref: '#/components/schemas/UpdatedAt'
    Image:
      properties:
        url:
          example: 'https://static.vk.com/image.jpg'
        size:
          description: size in bytes
          example: 1024
    CreatedAt:
      type: string
      description: (ISO8601)
      example: 2005-08-15T15:52:01+0000
    UpdatedAt:
      type: string
      description: (ISO8601)
      example: 2005-08-15T15:52:01+0000
    AttachmentImage:
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        thumbnails:
          properties:
            small:
              $ref: '#/components/schemas/Image'
            medium:
              $ref: '#/components/schemas/Image'
            large:
              $ref: '#/components/schemas/Image'
        original:
          $ref: '#/components/schemas/Image'
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
    AttachmentAudio:
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        url:
          example: 'https://static.vk.com/audio.mp3'
        size:
          description: size in bytes
          example: 1024
        length:
          description: length in seconds
          example: 300
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
    AttachmentVideo:
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        url:
          example: 'https://static.vk.com/video.mp4'
        size:
          description: size in bytes
          example: 1024
        length:
          description: length in seconds
          example: 300
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
    AttachmentDocument:
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        url:
          example: 'https://static.vk.com/docs.zip'
        size:
          description: size in bytes
          example: 1024
        createdAt:
          $ref: '#/components/schemas/CreatedAt'

  parameters:
    userId:
      name: userId
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
    postId:
      name: postId
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
    conversationId:
      name: conversationId
      in: path
      required: true
      schema:
        type: integer
        minimum: 1

  requestBodies:
    userId:
      content:
        application/json:
          schema:
            properties:
              userId:
                type: integer
                minimum: 1

  responses:
    200SuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                default: ok
              data:
                example: null
    400ValidationErrorResponse:
      description: Validation error
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                default: error
              message:
                type: string
                default: Validation error
              errors:
                type: object
                example:
                  - field: ['Error 1', 'Error 2']
    401UnauthorizedErrorResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                default: error
              message:
                type: string
                default: Unauthorized
    403ForbiddenErrorResponse:
      description: Forbidden
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                default: error
              message:
                type: string
                default: Forbidden
    404NotFoundResponse:
      description: Not found
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                default: error
              message:
                type: string
                default: Not found
    500ServerErrorResponse:
      description: Internal error
      content:
        application/json:
          schema:
            properties:
              status:
                type: string
                default: error
              message:
                type: string
                default: Internal error

  securitySchemes:
    oAuthSample:
      type: oauth2
      description: This API uses OAuth 2 with the implicit grant flow.
      flows:
        implicit:
          authorizationUrl: https://oauth.vk.com/oauth2/authorize
          scopes:
            profiles: profiles
            friends: friends
            posts: posts
            conversations: conversations
